@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
:root {
    --laranja: #FF8200;
    --laranja-claro: #FDA346;
    --cor-fundo: #171717;
    --azul: #1000C0;
    --cor-quadrado: #4736ff57;
    --azul-claro: #2E89FF;
    --cinza-background: #282828;
    --cinza-texto: #CECECE;

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Outfit', sans-serif;
}

body {
    /* background: url(./img/./background/DegradeTopoOpacidade74.png); */
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-color: #171717;
    color: #ffff;
}

#azul_cima {
    position: absolute;
    z-index: -1;
    max-width: 100%;
    height: auto;
    user-select: none;
    pointer-events: none;
}

#laranja_cima {
    position: absolute;
    z-index: -1;
    right: 0;
    top: 0;
    max-width: 100%;
    height: auto;
    user-select: none;
    pointer-events: none;
}

#azul_fundo {
    position: absolute;
    z-index: -2;
    z-index: -1;
    opacity: 100%;
    top: 0;
    max-width: 100%;
    min-width: 100%;
    height: auto;
    max-height: 76.5vw;
    user-select: none;
    pointer-events: none;
}


#linha {
    position: absolute;
    top: 13%;
    z-index: -1;
    max-width: 100%;
    min-width: 1800px;
    height: auto;
    user-select: none;
    pointer-events: none;
}


#linha2 {
    position: absolute;
    max-width: 100%;
    right: 0;
    z-index: -3;
    user-select: none;
    pointer-events: none;
}

.linha2 {
    padding: 0;
    margin:0;
}
/* #linha2 {
    position: relative;
    max-width: 100%;
    min-width: 1800px;
    height: auto;
} */

#linha3 {
    position: absolute;
    z-index: -1;
    max-width: auto;
    max-height: 598px;
    height: 100%;
    right: 0;
    z-index: 1;
    user-select: none;
    pointer-events: none;
}

/* #bolinha1 {
    position: absolute;
    z-index: -1;
    max-width: 100%;
    height: auto;
    right: 29%;
    top: 318.2%;
} */

#laranja_baixo {
    position: absolute;
    z-index: -1;
    right: 0;
    max-width: 100%;
    height: auto;
    top: 220vh;
    user-select: none;
    pointer-events: none;
}


.container {
    max-width: 75vw;
    width: 100%;
    margin: 0 auto;
}

header {
    /* z-index: -1; */
}

.header-container {
    display: flex;
    justify-content: space-between;
    padding: 10vh 0 6vh 0;
    align-items: center;
}

.header-container nav ul {
    gap: 6vw;
    text-align: center;
    display: flex;
    font-size: 20px;
    font-weight: normal;
    
}

#logo-header {
    width: 50px;
    margin-left: 1vw;
}

nav ul li {
    list-style-type: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    transition: transform 0.5s ease;
}

nav ul li:hover {
    transform: scale(1.1);
    
}

nav ul{
    overflow-y: hidden;
    
}


#contato-link {
    border: solid 2px var(--laranja-claro);
    border-radius: 13px;
    padding: 0.8vh 1.3vh;
    margin-right: 0.2vw;
}

.header-container ul li a{
    text-decoration: none;
    /* text-align: center; */
    color: #ffff;
    
}

header {
    text-align: center;
}

#inicio {
    margin-bottom: 8vh;
    
}


.inicio-container h2{
    font-size: 65px; 
    /* 4.4em */
    /* animation: vemDaEsquerda 3s ease; */
}


.inicio-container {
    display: grid;
    grid-template-columns: 45% 55%;
    align-items: center;
}

.esquerda h2 {
    overflow-y: hidden;
    
}

.esquerda {
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 0 0vw 5vh 0vw;
    /* animation: cresce 5s ease; */
}

.direita {
    margin: auto;
    /* animation: cresce 5s ease; */
}

#texto-inicio {
    max-width: 80%;
}


#logo_normal {
    width: 400px;
    padding-bottom: 7vh;
    /* animation: vemDaDireita 2.5s ease; */

}

.button {
    max-width: 12vw;
    width: 100%;
    padding: 3vh 1vw;
    margin-top: 7vh;
    margin-right: 1vw;
    margin-left: 1vw;
    border-radius: 40px;
    font-size: 20px;
    color: #ffff;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.15vw;
    transition: transform 0.5s ease;
}


.button:hover {
    transform: scale(1.1);
}


#botao1 {
    background: linear-gradient(to bottom right, var(--laranja), var(--laranja-claro) 95%);
    border: none;
}


#botao2 {
    background-color: transparent;
    border: solid 2px #FDA346;
    color: var(--laranja-claro);
}

/* .transicao-container {
    display: flex;
    gap: 2vh;
    margin: 20vh 0vw 0vh 0vw;
    width: 100%;
    padding: 2vh 0 2vh 2vh;
} */
.transicao-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    margin-top: 4.5vh;
    padding: 2vh 2vh;
    overflow-y: hidden;
}


#transicao {
    /* margin: 0 0 0 7.5vw; */
    display: grid;
    grid-template-columns: 7.5% 85% 7.5%;
    padding-bottom: 4vh;
}


.quadrados {
    z-index: 3;
    max-width:  15.6vw;
    max-height:  24.4vh;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    background-color:  var(--cor-quadrado);
    border-radius: 40px 40px 10px 40px;
    align-items: center;
}

.quadrados:hover {
    
} 

.quadrados-container {
    text-align: center;
    max-width: 15vw;
    width: 100%;
    margin: 4vh auto 4vh auto;
}

.quadrado-display {
    overflow-y: hidden;
    display: grid;
    grid-template-rows: 42% 50%;
    gap: 8%;
    
}

.sgv {
    overflow: hidden;
    margin: 0;
    padding: 0;
    margin: 0 auto;
    align-items: center;
    width: 54px;
    margin-bottom: 1vh;
}


.text-quadrado {
    font-size: 18px;
    margin-top: 1vh;
    padding: 0;
    overflow-y: hidden;
}

svg {
    color: rgba(255, 255, 255, 0.767);
    padding: 0;
}

section #brands {
    
}

.prova-social {
    
    margin: 38vh auto 13vh auto;
    display: flex;
    
}

.prova-social h3 {
    overflow: hidden;
    font-size: 43px;
    font-weight: bold;
    margin-right: 5vw;
}

.azul {
    color: var(--azul-claro);
}

.prova-social p {
    max-width: 570px;
    margin-top: 1vh;
    font-size: 16px;
    font-weight: lighter;
    color: var(--cinza-texto);
}



















.brands-container {
    background-color: var(--cinza-background);
    display: grid;
    grid-template-rows: auto auto;
    gap: 3vw;
    padding: 7vh 0 7vh 0;
}

.cima {
    display: grid;
    grid-template-columns: 7.5% 85% 7.5%;
}


.brands-cima{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    align-items: center;
}


.baixo {
    display: grid;
    grid-template-columns: 10% 80% 10%;
}


.brands-baixo {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    align-items: center;
}


.brand {

}



#beneficios {
    padding-bottom: 100vh;
}


@keyframes vemDaEsquerda {
    0% {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes vemDaDireita {
    0% {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0%);
    }
}
@keyframes cresce {
    0% {
        transform: scale(0.5);
    }
    to {
        transform: scale(1);
    }
}

@media screen and (max-width: 1280px) {
    .header-container nav ul{
        gap: 4vw;
        font-size: 15px;
    }

    #logo-header {
        width: 45px;
    }

    .header-container {
        margin-top: 0;
        align-items: center;
    }

    
    .inicio-container h2 {
        font-size: 50px;
        
    }

    .inicio-container {
        margin-top: 10vh;
        margin-bottom: 14vh;
    }

    #logo_normal {
        width: 320px;
        padding-bottom: 7vh;
    }

    #texto-inicio  {
        font-size: 15px;
    }


    .direita {
        height: 100%;
        margin-left: 5vw;
    }

    .direita img{
        width: 90%;
        
    }

    .button {
        max-width: 11vw;
        width: 100%;
        padding: 3vh 0vw;
        margin-top: 13vh;
        margin-right: 1vw;
        border-radius: 40px;
        color: #ffff;
        font-weight: 500;
        font-size: 15px;
        letter-spacing: 0.15vw;
        transition: transform 0.5s ease;
    }
    

    .quadrados-container {
        text-align: center;
        max-width: 15vw;
        width: 100%;
        margin: 4vh auto 4vh auto;
        align-items: center;
    }

    

    .text-quadrado {
    font-size: 14px;
    padding-bottom: 10px;
    }

    .sgv {
        margin: 0 auto;
        align-items: center;
        width: 40px;
        margin-bottom: 1vh;
    }

    .quadrado-display {
        gap: 0%;
    }
    .transicao-container {
        gap: 1.5%;
    }

    #transicao {
        grid-template-columns: 10% 80% 10%;
    }

    .prova-social {
        margin: 35vh auto 10vh auto;
    }

    .prova-social h3 {
        overflow: hidden;
        font-size: 35px;
        font-weight: bold;
        margin-right: 5vw;
    }

    .prova-social p {
        max-width: 400px;
        font-size: 13px;
    }

    .brand img{
        width: 70%;
        height: auto;
    }
}

    @media screen and (min-width: 1281px) and (max-width: 1537px) {
        .header-container nav ul{
            gap: 4vw;
        }
        

        .header-container {
            margin-top: 0;
            align-items: center;
        }

        
        .inicio-container h2 {
            font-size: 55px;
            
        }

        .inicio-container {
            margin-top: 6.5vh;
            margin-bottom: 6.5vh;
        }

        #logo_normal {
            width: 350px;
            padding-bottom: 5vh;
        }


        .direita {
            height: 100%;
            margin-left: 5vw;
        }

        .direita img{
            width: 90%;
            
        }

        .button {
            max-width: 11vw;
            width: 100%;
            padding: 3vh 0vw;
            margin-top: 7vh;
            margin-right: 1vw;
            border-radius: 40px;
            color: #ffff;
            font-weight: 500;
            font-size: 15px;
            letter-spacing: 0.15vw;
            transition: transform 0.5s ease;
        }
        

        .quadrados-container {
            text-align: center;
            max-width: 15vw;
            width: 100%;
            margin: 4vh auto 4vh auto;
        }

        .sgv {
            margin: 0 auto;
            align-items: center;
            width: 50px;
            margin-bottom: 1vh;
        }

        .text-quadrado {
        font-size: 17px;
        padding-bottom: 10px;
        }

        .quadrado-display {

            gap: 0%;
        }

        .prova-social {
    
            margin: 35vh auto 10vh auto;
        }

        .prova-social h3 {
            overflow: hidden;
            font-size: 38px;
            font-weight: bold;
            margin-right: 5vw;
        }

        .prova-social p {
            max-width: 500px;
        }

        .brand img{
            width: 70%;
            height: auto;
        }
    }






